In [1]:
import pymysql;


import pandas as pd

In [8]:
col_names = ["member_id", "problem_id"]

data = pd.read_csv("./solved_problem_history.csv")


data = data[col_names]
data

     member_id  problem_id
0            1        3376
1            1        3197
2            1       31054
3            1       10691
4            1        2324
..         ...         ...
995          2       30055
996          2       17198
997          2       22022
998          2       10196
999          2        4437

[1000 rows x 2 columns]